@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
	--inactive-overlay-color: rgb(228, 215, 215, 0.3);
	--heading1-bg-color: rgb(151, 149, 149, 0.4);
	--heading1-color: rgb(54, 49, 49);
	--button-color: rgb(54, 49, 49);
	--button-border-color: rgb(54, 49, 49);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", "san-serif";
	height: 100vh;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 4rem;
	color: var(--heading1-color);
	white-space: nowrap;
	background-color: var(--heading1-bg-color);
	opacity: 0.8;
	padding: 0 1rem;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
}

.split {
	flex: 1 1 0;
	position: relative;
	overflow: hidden;
	background-position: center;
}

.split.active {
	flex-basis: 75%;
}

.split.non-active::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background-color: var(--inactive-overlay-color);
}

.split,
.split.active,
.split.non-active::before {
	transition: all 0.5s ease-in;
}

.cosmetics {
	background-image: url("./media/cosmetics-amin-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: top center; */
}

.groceries {
	background-image: url("./media/arren-mills-LnDEnE7n_Eg-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--button-color);
	white-space: nowrap;
	text-decoration: none;
	border: 0.2rem solid var(--heading1-color);
	padding: 0.5rem;
}

.btn:hover {
	background-color: var(--button-color);
	color: white;
}
