* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   
    overflow-x: hidden;
    margin: 0;
    /* width: 100vw; */
    height: 100vh;
    /* grid-template-columns: 100%;
    grid-template-rows: 100%; */
}

.background {
    background: url("https://source.unsplash.com/random/1024x900") no-repeat center center / cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* grid-column: 1 / 2; */
    /* grid-row: 1 / 2; */
    z-index: -1;
    filter: blur(30px);

}

.loading-text {
    color: #fff;
    font-size: 3.5rem;
    /* width: 100%;
    height: 100%; */
    /* grid-column: 1 / -1; */
    /* grid-row: 1 / -1; */
    /* justify-self: center; */
}